<section class="guide-index">
  <div class="guide-index__container">
    <h1 class="guide-index__title">Índice</h1>
    <nav>
      <ul class="guide-index__list">
        <li><a routerLink="./mapa">Mapa mental para delinear tópicos essenciais</a></li>
        <li><a routerLink="./guia">Guia de estudo</a></li>

        <li>
          <a routerLink="./nuvem">Computação em Nuvem</a>
          <ul class="guide-index__sublist">
            <li>O que é Computação em Nuvem? Infraestrutura Global da AWS, Modelo de Responsabilidade Compartilhada</li>
          </ul>
        </li>

        <li>
          <a routerLink="./iam">IAM: Acesso e Gerenciamento de Identidade</a>
          <ul class="guide-index__sublist">
            <li>O que é IAM? Autenticação multifator - MFA, Opções de dispositivos MFA na AWS, Como os usuários podem
              acessar a AWS? O que é a AWS CLI? O que é o AWS SDK?</li>
          </ul>
        </li>

        <li>
          <a routerLink="./ec2">EC2: Máquinas Virtuais</a>
          <ul class="guide-index__sublist">
            <li>O que é Amazon EC2? Introdução aos grupos de segurança, Portas clássicas que você precisa conhecer,
              Tipos de inicialização de instância do EC2, Qual opção de compra é a certa para mim? Modelo de
              responsabilidade compartilhada para EC2</li>
          </ul>
        </li>

        <li>
          <a routerLink="./storage-ec2">Armazenamento de instância EC2</a>
          <ul class="guide-index__sublist">
            <li>Volumes EBS, EFS: Sistema de Arquivos Elástico, Acesso Infrequente EFS (EFS-IA), Amazon FSx – Visão
              Geral, Armazenamento de Instâncias EC2, Modelo de Responsabilidade Compartilhada para Armazenamento EC2
            </li>
          </ul>
        </li>

        <li>
          <a routerLink="./balanceamento">Grupos de balanceamento e dimensionamento automático</a>
          <ul class="guide-index__sublist">
            <li>Escalabilidade e alta disponibilidade, Escalabilidade vertical, Escalabilidade horizontal, Alta
              disponibilidade, Alta disponibilidade e escalabilidade para EC2, Escalabilidade vs. Elasticidade (vs.
              Agilidade), O que é balanceamento de carga? O que é um grupo de dimensionamento automático?</li>
          </ul>
        </li>

        <li>
          <a routerLink="./s3">Amazon S3</a>
          <ul class="guide-index__sublist">
            <li>Casos de uso do S3, Visão geral do Amazon S3 - Buckets, Visão geral do Amazon S3 - Objetos, Sites do S3,
              Classes de armazenamento do S3, Bloqueio de objeto do S3 e Bloqueio de cofre Glacier, Modelo de
              responsabilidade compartilhada para S3, Família Snow da AWS, O que é Edge Computing?, Família Snow - Edge
              Computing, AWS OpsHub, Nuvem híbrida para armazenamento, AWS Storage Gateway</li>
          </ul>
        </li>
        <!-- Banco de dados -->
        <li>
          <a routerLink="./db-analytics">Bancos de dados e análises</a>
          <ul class="guide-index__sublist">
            <li>Introdução a bancos de dados, bancos de dados relacionais e NoSQL, responsabilidade compartilhada, visão
              geral do RDS, DynamoDB, Redshift, Aurora, ElastiCache, EMR, Athena, QuickSight, DocumentDB, Neptune, QLDB
            </li>
          </ul>
        </li>

        <!-- Computação -->
        <li>
          <a routerLink="./compute">Outra Seção de Computação</a>
          <ul class="guide-index__sublist">
            <li>Docker, ECS, Fargate, ECR, Serverless, AWS Lambda, API Gateway, AWS Batch, Batch vs Lambda, Amazon
              Lightsail, Resumo do Lambda</li>
          </ul>
        </li>

        <!-- Infraestrutura em escala -->
        <li>
          <a routerLink="./infra-escala">Implantando e gerenciando infraestrutura em escala</a>
          <ul class="guide-index__sublist">
            <li>CloudFormation, CDK, Elastic Beanstalk, CodeDeploy, CodeCommit, CodeBuild, CodePipeline, CodeArtifact,
              CodeStar, Cloud9, Systems Manager (SSM), OpsWorks</li>
          </ul>
        </li>

        <!-- Infraestrutura Global -->
        <li>
          <a routerLink="./infra-global">Infraestrutura Global</a>
          <ul class="guide-index__sublist">
            <li>Route 53, CloudFront, Global Accelerator, Outposts, WaveLength, zonas locais, roteamento e aplicações
              globais</li>
          </ul>
        </li>

        <!-- Integração -->
        <li>
          <a routerLink="./integracao-nuvem">Integração em Nuvem</a>
          <ul class="guide-index__sublist">
            <li>Amazon SQS, Kinesis, SNS, MQ</li>
          </ul>
        </li>

        <!-- Monitoramento -->
        <li>
          <a routerLink="./monitoramento">Monitoramento de Nuvem</a>
          <ul class="guide-index__sublist">
            <li>CloudWatch, CloudTrail, X-Ray, CodeGuru, AWS Status, painel de integridade</li>
          </ul>
        </li>

        <!-- VPC -->
        <li>
          <a routerLink="./vpc">VPC</a>
          <ul class="guide-index__sublist">
            <li>Sub-redes, gateways, ACL, grupos de segurança, VPC endpoints, VPN, Direct Connect, Transit Gateway</li>
          </ul>
        </li>

        <!-- Segurança -->
        <li>
          <a routerLink="./seguranca">Segurança e Conformidade</a>
          <ul class="guide-index__sublist">
            <li>Responsabilidade compartilhada, Shield, WAF, KMS, ACM, Secrets Manager, GuardDuty, Inspector, Config,
              Macie, Security Hub, Detective, Abuse, IAM Access Analyzer</li>
          </ul>
        </li>

        <!-- Machine Learning -->
        <li>
          <a routerLink="./machine-learning">Aprendizado de Máquina</a>
          <ul class="guide-index__sublist">
            <li>Rekognition, Transcribe, Polly, Translate, Lex, Comprehend, SageMaker, Forecast, Kendra, Personalize,
              Textract</li>
          </ul>
        </li>

        <!-- Gerenciamento -->
        <li>
          <a routerLink="./gerenciamento">Gerenciamento de contas, faturamento e suporte</a>
          <ul class="guide-index__sublist">
            <li>Organizações AWS, SCP, faturamento consolidado, RAM, catálogo, modelos de preço, entrega de conteúdo
              (CloudFront), custos AWS</li>
          </ul>
        </li>

        <!-- Identidade -->
        <li>
          <a routerLink="./identidade">Identidade Avançada</a>
          <ul class="guide-index__sublist">
            <li>STS, Cognito, Active Directory, IAM Identity Center</li>
          </ul>
        </li>

        <!-- Outros serviços -->
        <li>
          <a routerLink="./outros-servicos">Outros serviços da AWS</a>
          <ul class="guide-index__sublist">
            <li>WorkSpaces, AppStream, Sumerian, IoT Core, Transcoder, AppSync, Amplify, Device Farm, Backup, DRS,
              DataSync, Migration Hub, Step Functions, Ground Station, Pinpoint</li>
          </ul>
        </li>

        <!-- Arquitetura -->
        <li>
          <a routerLink="./arquitetura-ecossistema">Arquitetura e Ecossistema da AWS</a>
          <ul class="guide-index__sublist">
            <li>Well-Architected Framework, melhores práticas, 6 pilares, ferramentas Well-Architected, recursos
              gratuitos, AWS Marketplace</li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</section>
