<main class="main">
  <!-- SEÇÃO DO BANNER -->
  <app-sections-banner
    bannerTitle="Elizabete Fabri | Software Engineer at Itaú Unibanco"
    bannerDescription="Bem-Vindo! Ao meu perfil!"
  ></app-sections-banner>
  <!-- SEÇÃO DO SOBRE -->
  <app-sections-sobre
    sobreTitle="Hello, world!🚀"
    sobreDescription="Apaixonada por tecnologia e construção de soluções. Minha jornada é marcada pelo desenvolvimento contínuo e pela busca constante de conhecimento nas áreas de cloud computing, engenharia de dados, automações, infraestrutura, inteligência artificial e engenharia de software. Cada certificação representa um passo importante na construção da minha carreira tecnológica, fortalecendo minha base, minhas habilidades e minha visão como profissional. Confira abaixo minhas certificações e conquistas, organizadas por trilhas de aprendizado."
    sobrePhoto="https://elizabetefabri.carrd.co/assets/images/image02.jpg?v=fadba08a"
  ></app-sections-sobre>
  <!-- SEÇÃO DO SKILLS -->
  <app-sections-skills
    [titleSkills]="'Habilidades'"
    [skills]="[
      { img: '../../../assets/img-skills/AngularJs.png', link: 'https://angular.io/', alt: 'AngularJS' },
      { img: '../../../assets/img-skills/aws.png', link: 'https://aws.amazon.com/', alt: 'AWS' },
      { img: '../../../assets/img-skills/git.png', link: 'https://git-scm.com/', alt: 'Git' },
      { img: '../../../assets/img-skills/github.png', link: 'https://github.com/', alt: 'GitHub' },
      { img: '../../../assets/img-skills/Go.png', link: 'https://go.dev/', alt: 'Golang' },
      { img: '../../../assets/img-skills/javascript.png', link: 'https://developer.mozilla.org/en-US/docs/Web/JavaScript', alt: 'JavaScript' },
      { img: '../../../assets/img-skills/Typescript.png', link: 'https://www.typescriptlang.org/', alt: 'TypeScript' },
      { img: '../../../assets/img-skills/terraform-roxo.png', link: 'https://www.terraform.io/', alt: 'Terraform' },
      { img: '../../../assets/img-skills/kubernetes.png', link: 'https://kubernetes.io/', alt: 'Kubernetes' },
      { img: '../../../assets/img-skills/helm.png', link: 'https://helm.sh/', alt: 'Helm' },
      { img: '../../../assets/img-skills/Notion.png', link: 'https://www.notion.so/', alt: 'Notion' },
      { img: '../../../assets/img-skills/Nodejs.png', link: 'https://nodejs.org/', alt: 'Node.js' },
      { img: '../../../assets/img-skills/java.png', link: 'https://www.java.com/', alt: 'Java' },
      { img: '../../../assets/img-skills/Python.png', link: 'https://www.python.org/', alt: 'Python' }
    ]">
  </app-sections-skills>
</main>
