/* Inicio Estilização Footer */
footer {
  padding: 20px 10px;
  text-align: center;
  background-color: #1a1a1f;
  color: #999;
  position: relative;

}

footer a {
  font-size: 15px;
  text-decoration: none;
  margin: 5px;
}

footer em {
  color: #FF8899;
}

.copyright {
  margin-top: 5px;
}
/* Fim Estilização Footer */
