<div class="container__sobre-media">
  <ul>
    <li>
      <a
        href="{{linkGit}} "
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="{{imageGit}} " alt="GITHUB" title="Bora ver meus projetos no GitHub 🖤">
      </a>
    </li>
    <li>
      <a
        href="{{linkLinkedin}}"
        target="_blank"
      >
      <img src="{{imageLinkedin}}" alt="LINKEDIN" title="Acesse meu Linkedin 💙">
      </a>
    </li>
    <li>
      <a
        href="{{linkEmail}}"
        target="_blank"
      >
      <img src="{{imageEmail}}" alt="EMAIL" title="Mande um E-mail 📩">
      </a>
    </li>
    <li class="stilo-download">
      <a
        href="{{linkDownload}}"
        target="_blank"
      >
      <img src="{{imageDownload}}" alt="download" title="Faça o download aqui do meu currículo 💌">
      <!-- Download Currículo -->
    </a>
    </li>
  </ul>
</div>
