<section id="servicos">
  <h2 class="servico__title">Descubra como posso contribuir para o sucesso da sua empresa.</h2>
    <div class="container">
      <div class="service">
        <div class="iconHolder">
          <img src="../../../../assets/icons/loja.png" alt="Icone em formas na cor preta quadrado representando uma pagina de site" />
        </div>
        <div>
          <h4>Landing Pages</h4>
          <p>
            Trabalho com desenvolvimento de páginas altamente otimizadas que apresentam seu negócio
            de forma objetiva e impulsionam conversões para a sua empresa,
            utilizando as plataformas RDStation ou LeadLovers.
          </p>
        </div>
      </div>
      <div class="service">
        <div class="iconHolder">
          <img src="../../../../assets/icons/site.png" alt="Icone em formas na cor preta quadrado representando um site" />
        </div>
        <div>
          <h4>Desenvolvimento e Criação de Sites</h4>
          <p>
            Se você está em busca de um site de alta qualidade, de fácil
            atualização e que se encaixe no seu orçamento, conte comigo para
            estabelecer a presença da sua empresa na internet e impulsionar novas
            oportunidades de negócios.
          </p>
        </div>
      </div>
      <div class="service">
        <div class="iconHolder">
          <img src="../../../../assets/icons/store.png" alt="Icone em formas na cor preta quadrado representando uma loja virtual de um site" />
        </div>
        <div>
          <h4>Loja Virtual</h4>
          <p>
            Irei desenvolver sua loja virtual de forma simples e altamente funcional,
            utilizando o WordPress, que é atualmente uma das ferramentas mais populares para criação de sites.
          </p>
        </div>
      </div>
      <div class="service">
        <div class="iconHolder">
          <img src="../../../../assets/icons/call.png" alt="Icone em formas na cor preta quadrado representando uma loja virtual de um site" />
        </div>
        <div>
          <h4>Serviço de ajustes em Sites</h4>
          <p>
            Se você está em busca de ajustes, correções ou melhorias para o seu
            site, você está no lugar certo. Como profissional, estou pronta para
            avaliar o seu site de forma abrangente e oferecer um orçamento sem
            compromisso para a solução. Minha dedicação é otimizar a experiência
            dos seus visitantes e a eficiência do seu site.
          </p>
        </div>
      </div>
    </div>
  </section>
