<app-div></app-div>

<header class="header">
  <div class="container">

    <div class="logo">
      *
      <p id="liza">Liza</p>
      *
    </div>

    <div class="menu">
      <div
        class="menuMobile"
        (click)="toggleMenu()"
        (keydown.enter)="toggleMenu()"
        tabindex="0"
        role="button"
        aria-label="Toggle menu"
>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <nav>
        <ul [ngClass]="{'active': menuActive}" id="ul">
          <li><a routerLink="/" (click)="closeMenu()">Home</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<app-div></app-div>
