.guides {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}

.guides__container {
  max-width: 1440px;
  width: 100%;
}

.guides__title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
  color: #201f25;
  line-height: 1.2;
}


/* .guides__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
} */

.guides__grid {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
}
