<section class="guide-index" id="computacao-nuvem">
  <div class="guide-index__container">
    <h1 class="guide-index__title">Computação em Nuvem</h1>

    <ul class="guide-index__list">
      <li>
        <a href="#introducao">Introdução</a>
        <ul class="guide-index__sublist">
          <li><a href="#oque-e">O que é computação em nuvem?</a></li>
          <li><a href="#modelos-implantacao">Os modelos de implantação da nuvem</a></li>
          <li><a href="#caracteristicas">As cinco características da computação em nuvem</a></li>
          <li><a href="#vantagens">Seis vantagens da computação em nuvem</a></li>
          <li><a href="#problemas-resolvidos">Problemas resolvidos pela nuvem</a></li>
          <li><a href="#tipos">Tipos de Computação em Nuvem</a></li>
          <li><a href="#exemplos-tipos">Exemplo de tipos de computação em nuvem</a></li>
          <li><a href="#precos-visao">Preços da Nuvem – Visão Geral Rápida</a></li>
          <li><a href="#preco-problema">Como o preço da nuvem resolve problemas tradicionais de custos de TI</a></li>
          <li><a href="#casos-uso">Casos de uso da Nuvem AWS</a></li>
        </ul>
      </li>

      <li>
        <a href="#infraestrutura">Infraestrutura global da AWS</a>
        <ul class="guide-index__sublist">
          <li><a href="#regioes">Regiões da AWS</a></li>
          <li><a href="#escolher-regiao">Como escolher uma região da AWS?</a></li>
          <li><a href="#az">Zonas de disponibilidade (AZs) da AWS</a></li>
          <li><a href="#pontos-presenca">Pontos de presença da AWS (localizações de borda)</a></li>
        </ul>
      </li>

      <li>
        <a href="#modelo-responsabilidade">Modelo de Responsabilidade Compartilhada da AWS</a>
        <ul class="guide-index__sublist">
          <li><a href="#modelo">O que é o Modelo de Responsabilidade Compartilhada?</a></li>
          <li><a href="#responsa-aws">Responsabilidades da AWS: <strong>Segurança <em>da Nuvem</em></strong></a></li>
          <li><a href="#responsa-cliente">Responsabilidades do cliente: <strong>Segurança <em>na nuvem</em></strong></a></li>
          <li><a href="#exemplos-responsa">Exemplo de responsabilidades para diferentes serviços da AWS</a></li>
          <li><a href="#resumo">Resumo</a></li>
        </ul>
      </li>
    </ul>
  </div>

</section>
