/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'Raleway', sans-serif;
  overflow-y: scroll;
  text-decoration: none;
}
@font-face {
  font-family: MRROBOT;
  src: url('/assets/font/MRROBOT.ttf');
}
.container {
  max-width: 1440px;
  width: 100%;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes left {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.ani {
  animation-name: up;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

.logo {
  animation-name: left;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

.menu {
  animation-name: right;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}
